.breadcrumbs {
  display: flex;
  padding: $lg-space $reg-space $lg-space * 2;
  color: $txt-color;
  font-size: $smaller-text;

  .crumb {
    a {
      white-space: nowrap;
    }
    span {
      white-space: nowrap;
    }
    &:after {
      content: "→";
      padding: 0 $xs-space;
      color: $txt-color;
      font-family: $font-logo;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding: $reg-space;
  }
}
