.directory-container {
  .directory-item {
    margin: $reg-space 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-soft;
    padding: $reg-space;
    border: $border-solid $secondary;

    // &:not(:last-of-type) {
    //   border-bottom: $border-solid $secondary;
    // }

    .directory-item-title {
      display: flex;
      gap: 2rem;
      justify-content: space-between !important;
      align-items: center;
      max-height: fit-content;
      h2,
      h3 {
        margin: 0;
      }
    }

    .directory-item-subtitle {
      color: $primary;
      margin-top: 0.5rem;
    }

    .directory-item-content-container {
      display: flex;

      .col1 {
        min-width: 50%;
      }

      .directory-item-address:not(:first-of-type) {
        margin-top: $sm-space;
      }
    }
  }
}

.directory-container h3 {
  margin: $sm-space 0;
}

.category-title {
  color: lighten($txt-color, 40);
  border-bottom: $border-solid lighten($txt-color, 40);
  padding-bottom: $sm-space;
}
