.directory-container {
  a {
    font-family: $font-regular;
    border-bottom: $border-solid $txt-color;
  }
  .directory-item {
    margin: $reg-space 0 !important;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-soft;
    padding: $reg-space;
    border: $border-solid $secondary;

    &:first-of-type {
      margin-top: 0 !important;
    }

    .directory-item-title {
      display: flex;
      gap: 2rem;
      align-items: center;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }

      h2,
      h3 {
        margin: 0;
      }
    }

    .directory-item-subtitle {
      color: $primary;
      margin-top: 0.5rem;
    }

    .directory-item-content-container {
      display: flex;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      .col1 {
        min-width: 50%;

        @media only screen and (max-width: 600px) {
          min-width: 100%;
          p {
            margin-block-end: 0;
          }
        }
      }

      .directory-item-address:not(:first-of-type) {
        margin-top: $sm-space;
      }
    }
  }
}

.directory-container h3 {
  margin: $sm-space 0;
}

.category-title {
  color: lighten($txt-color, 40);
  &:first-of-type {
    margin-top: 0;
  }
}
