.exercise:not(:first-child) {
  margin-top: $reg-space !important;
  border-top: $border-solid $secondary;
  padding-top: $reg-space;
}

.exercise-intro {
  margin: $sm-space 0 !important;
  p {
    margin: $xs-space 0;
  }
}

.exercice-closed {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column;

  * {
    margin: 0;
    height: fit-content;
    width: fit-content;
  }
}

.step-closed {
  margin-top: $sm-space;
  display: flex;
  justify-content: space-between;
  * {
    margin: 0;
    height: fit-content;
    width: fit-content;
  }
}

.exercise-steps {
  height: fit-content;
  iframe {
    display: flex;
    margin: $reg-space 0;
    border: $border-solid $secondary;
    border-radius: $border-radius-soft;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      padding: $sm-space 0;
      border-bottom: $border-solid $secondary;
    }
  }
}

ol {
  padding-left: 0;
  li {
    padding: $sm-space 0 0;
  }
}
