.filters-container {
  // @include grid;
  padding-top: 0;
  padding-bottom: 0;
  //
  display: flex;
  flex-direction: column;
  gap: $sm-space;

  .filters-title {
    // grid-column: #{$grid-second-half};
    margin: 0;
    font-size: $bigger-text;
    max-width: 50ch;
  }

  @keyframes glow {
    0%,
    100% {
      box-shadow: $small-glow;
      mix-blend-mode: multiply;
    }

    50%,
    75% {
      box-shadow: $big-glow;
      mix-blend-mode: multiply;
    }
  }

  .filters-content {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    gap: $xs-space;

    .filter {
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding: 0.25em 1em;
      // font-size: $smaller-text;
      border-radius: $border-radius;
      text-transform: lowercase;
      height: fit-content;
      transition: 1s;
      border: $border-solid $primary;
      font-family: $font-logo;
      @include painful;
    }

    .reset {
      font-family: $font-logo;
      padding: 0.25em 1em;
      display: flex;
      align-items: center;
      gap: $sm-space;
      // font-size: $smaller-text;
      border-radius: $border-radius;
      cursor: url("../assets/images/cursor-pointer.svg"), auto;
      text-transform: lowercase !important;
      height: fit-content;
      border: $border-solid $txt-color;

      &:hover {
        background-color: $txt-color;
        border: $border-solid $txt-color;
      }
    }
  }
}

.tag-container {
  // padding: $sm-space 0;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: $sm-space/2;
}

.tag {
  font-size: small;
  white-space: nowrap;
  max-width: fit-content;
  padding: 0.25rem 1em;
  background-color: lighten($secondary, 15%);
  border-radius: $border-radius;
  max-height: max-content;
  display: flex;
  align-items: center;
  height: fit-content;

  &.recommendation {
    background-color: transparent;
    border-color: transparent;
    color: $txt-color;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    .dot {
      width: 12px;
      height: 12px;
      background-color: lighten($txt-color, 50);
      border-radius: 50%;
    }
  }
}
