@keyframes transitionX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee2 {
  background-color: $primary;
  color: $bg-color;
  padding: $sm-space 0;
  overflow: hidden;
  font-size: x-large;

  .marquee-content {
    display: flex;
    gap: 2rem;
    animation: transitionX 40s linear infinite;
    .text {
      display: flex;
      gap: 0.5rem;
      align-items: baseline;

      a {
        border: 0;
        padding-bottom: 0 !important;

        &.logo {
          color: lighten($secondary, 5);
        }
      }
    }
  }
}

.logos-partners-section {
  padding: $reg-space;
  h2,
  h3 {
    margin-top: 0;
  }
  .logos-partners-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: $sm-space;
  }
  figure {
    grid-template-columns: 1;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;

    .color-screen {
      width: 100%;
      height: 100%;

      position: absolute;
      mix-blend-mode: multiply;
    }
    .placeholder {
      border-radius: $border-radius-soft;
      padding: $reg-space;
      text-align: center;
      background-color: lighten($secondary, 10);
    }

    img {
      max-width: 100%;
      max-height: fit-content;
      object-fit: contain;
    }
  }
}

footer {
  border-top: $border-solid lighten($txt-color, 50%);
  margin: $reg-space;

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: $reg-space 0 $lg-space;

    .lets {
      grid-column: #{$grid-first-third};

      .logo {
        font-size: 200%;
        letter-spacing: 0;

        span {
          font-family: $font-logo;
        }
        .colored {
          font-family: $font-logo;
        }
      }
      p {
        margin: 0;
      }
    }

    button {
      @include secondaryButton;
    }

    nav {
      grid-column: #{$grid-last-third};

      display: flex;
      gap: $lg-space;
      text-transform: lowercase;

      ul {
        display: flex;
        padding-left: 0;
        @media only screen and (min-width: 600px) {
          flex-wrap: wrap;
        }
        @media only screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0.5rem;
        }
      }

      li {
        list-style: none;
        flex-basis: 50%;
        flex-direction: row;
        height: fit-content;
        padding: 0;
        margin: 0;
      }

      a {
        height: fit-content;
        width: fit-content;
        display: inline-block;
        font-family: $font-logo;
        font-size: large;

        border-bottom: none;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}
