.letter-title {
  .h1 {
    color: $primary;
    border-top: $border-solid $secondary;
    font-family: $font-logo;
    @media only screen and (max-width: 600px) {
      margin-top: 0;
    }
  }
  @media only screen and (min-width: 600px) {
    &:first-child {
      .h1 {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

.term-entry {
  h2 {
    padding-top: $sm-space;
  }
}

.related-pain-container {
  display: flex;
  gap: $xs-space;
  font-size: $smaller-text;

  a {
    font-family: $font-regular;
    display: flex;
    @include arrowRotate;
  }
}

.glossary-dashboard {
  display: flex;
  flex-direction: column;
}

form {
  margin: $reg-space 0;
  display: flex;
  gap: $sm-space;
  align-items: center;

  .search-bar {
    padding: 0.5rem 1rem;
    border: $border-solid $secondary;
    border-radius: $border-radius;

    &::placeholder {
      color: $txt-color;
      opacity: 50%;
      font-size: $font-size-basis;
      font-family: $font-regular;
    }
  }
}

.letter-link-container {
  display: flex;
  gap: $sm-space;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  .letter-link {
    border: $border-solid transparent;
    border-radius: $border-radius;
    padding: 0.5em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    line-height: 0;
    margin: 0;
    background-color: lighten($secondary, 10);

    &:hover {
      cursor: pointer;
      border: $border-solid $secondary;
      border-radius: $border-radius;
    }

    &:active {
      background-color: $secondary;
    }

    &.disabled {
      cursor: default;
      background-color: lighten($secondary, 15);

      border: none;
    }
  }
}

.highlighted-glossary-term {
  @include arrowRotate;
}
