// double-column containers
.double-column-containers-group {
  .double-column-container:first-child {
    border-top: none !important;
    padding-top: 0;
  }
}

.double-column-container {
  @include grid;
  align-items: first baseline;
  margin: 0 $reg-space;
  border-top: $border-solid $secondary;
  padding-top: $reg-space;

  div {
    &:first-child {
      grid-column: 1/6;

      h2 {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      margin: 0;
      grid-column: #{$grid-second-half};
      width: 100%;
    }
  }

  .nav-directory {
    grid-column-start: 7;
    grid-column-end: 12;
    a {
      width: 100%;
    }
  }
}

// pain cards
.pain-cards-container {
  @include grid;
  margin: 0 $reg-space;
}

.pain-card {
  grid-column: span 3;
  width: 100%;
  color: $txt-color;
  border-bottom: none;

  a {
    border-bottom: 0;
  }

  .pain-card-content {
    border: $border-solid $secondary;
    overflow: hidden;
    border-radius: $border-radius;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;

    .text-container {
      z-index: 9;
      background-color: $bg-color;

      display: flex;
      justify-content: center;

      h3 {
        margin: $reg-space;
        font-family: $font-logo;
        text-align: center;
        font-size: larger;
      }
    }
    img {
      width: 100%;
    }

    &:hover {
      transform: translate(0, -3px);
      border-color: $primary;
      img {
        transform: scale(1.1);
        transition: 700ms;
      }
    }
  }
}

// articles
.title-container {
  @include grid;
  padding-bottom: $reg-space;

  .title {
    grid-column: #{$grid-center};
  }

  .pain-illu-cover {
    grid-column: 3/11;
    width: 100%;
    border-radius: $border-radius-soft;
    object-fit: cover;
    height: auto;
  }
}

.pain-article {
  grid-column: 4/9;
  border-left: $border-solid $txt-color-lighten;
  padding: 0 $reg-space;
  max-width: 100%;
  h2:first-child {
    margin-top: 0;
  }
}

.pain-nav-article-container {
  align-items: baseline;
  width: 100%;
  @include grid;
}
