.double-column-containers {
  .double-column-container:first-child {
    border-top: none !important;
    padding-top: 0;
  }
}

.double-column-container {
  @include grid;
  align-items: first baseline;
  border-top: $border-solid $secondary;
  margin: 0 $reg-space;
  border-top: $border-solid $secondary;
  padding-top: $reg-space;

  div {
    * {
      margin: 0;
    }

    &:first-child {
      grid-column: #{$grid-first-half};
      max-width: 40ch;
    }

    &:nth-child(2) {
      margin: 0;
      grid-column: #{$grid-second-half};
      width: 100%;
    }
  }
}

.pain-card-container {
  background-color: lightblue;
}

.pain-card {
  background-color: antiquewhite;
}
