header {
  @include grid;
  padding: $sm-space $reg-space;
  align-items: baseline;

  .logo {
    color: $primary;
    font-size: 150%;
  }

  nav {
    grid-column: #{$grid-last-thirds};
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    a {
      font-family: $font-regular;
      text-transform: lowercase;
      border-bottom: none;
    }

    button {
      font-size: $font-size-basis;
    }
  }
}
