header {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;

  &.fixed {
    position: fixed;
    z-index: 999999;

    .logo {
      z-index: 999999;
      position: fixed;
    }

    .header-nav {
      position: fixed;
      right: 0;
    }
  }

  .logo {
    display: flex;
    color: $txt-color;
    font-size: 150%;
    padding: $sm-space $reg-space !important;
    sup {
      color: $txt-color;
    }
  }

  nav {
    display: flex;
    align-items: baseline;
    gap: $lg-space;
    padding: $sm-space $reg-space;

    a {
      font-family: $font-regular;
      border-bottom: none;
    }

    .page-link {
      &:hover {
        color: lighten($txt-color, 40);
        font-family: $font-bold;
      }
    }

    button {
      font-size: $font-size-basis;
    }
  }

  .dropdown {
    cursor: pointer;
    display: flex;

    .nav-title.selected {
      color: lighten($txt-color, 40);
      font-family: $font-bold;
    }

    .dropdown-content-wrapper {
      display: none;
      z-index: -10;
      gap: $sm-space;
      position: fixed;
      margin: 0;
      left: 0;
      top: 0;
      right: 0;
      background-color: $bg-color;

      padding: $lg-space $reg-space;
      flex-direction: column;
      box-shadow: 0px 20px 70px $txt-color;

      &.selected {
        display: flex;
      }

      .dropdown-content {
        display: flex;
        margin: $lg-space;
        flex-direction: column;

        .h3 {
          margin-top: 0;
          font-family: $font-logo;
        }

        .contenu {
          display: flex;
          gap: $lg-space;
          max-width: fit-content;
          margin: auto;
          justify-content: center;
          min-width: 25%;
          .h4 {
            margin-top: 0;
            font-family: $font-logo;
          }

          .col {
            flex: 1;
            width: 100%;

            nav {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              margin-top: $reg-space;

              a {
                width: 100%;
                border-bottom: $border-solid $secondary;
                padding: 0 $sm-space $sm-space 0;
                display: flex;
                justify-content: space-between;

                &:hover {
                  .title {
                    font-family: $font-bold;
                  }

                  .arrow {
                    transform: rotate(45deg);
                  }
                }
              }
            }
            .link-resource {
              .arrow {
                margin-bottom: 0;
              }
              &:hover {
                .resource {
                  border-bottom-color: $secondary;
                }

                .arrow {
                  transform: rotate(45deg);
                }
              }
            }
            .resource {
              display: flex;
              justify-content: space-between;
              max-height: fit-content;
              padding: 0 0 $sm-space 0;
              gap: 0;
              border-bottom: $border-solid transparent;

              p {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

.landing-view {
  header {
    position: absolute;
  }
}

.not-clickable {
  color: $secondary;
}
