header {
  padding: $sm-space $reg-space;
  align-items: baseline;
  display: flex;

  width: -webkit-fill-available;
  justify-content: space-between;

  .logo {
    color: $txt-color;
    font-size: 150%;
    sup {
      color: $txt-color;
    }
  }

  nav {
    display: flex;
    align-items: baseline;
    gap: $lg-space;

    a {
      font-family: $font-regular;
      text-transform: lowercase;
      border-bottom: none;
    }

    button {
      font-size: $font-size-basis;
    }
  }
}

.landing-view {
  header {
    position: absolute;
  }
}
