.intro-image {
  max-width: fit-content;
  max-height: fit-content;
}
.card-image-container {
  border-radius: $border-radius;
  overflow: hidden;
  height: fit-content;
  margin: $reg-space;
  background-color: lighten($secondary, 5);

  // aspect-ratio: 4/3;
}

.card-image {
  display: flex;
  object-fit: cover;

  width: auto;
  height: auto;
}

.intro-image,
.guide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: $reg-space 0;
}

.diagrams-container {
  align-self: flex-start;
  width: 100%;
  grid-column: 9/13;
  display: flex;
  flex-direction: column;
  gap: $reg-space;
  margin-top: $lg-space;

  .schema-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-solid $secondary;
    border-radius: $border-radius-soft;
    padding-top: $reg-space;
    .schema {
      height: auto;
      width: 70%;
    }

    .schema-caption {
      text-align: center;
      font-size: $smaller-text;
    }
  }
}

.modal {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba($color: $bg-color, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    border: $border-solid $secondary;
    border-radius: $border-radius-soft;
    background-color: $bg-color;
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      position: absolute;
      top: $sm-space;
      right: $sm-space;
    }

    p {
      max-width: fit-content;
      justify-self: center;
    }
  }
}
