.media-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $sm-space;

  @media only screen and (max-width: 600px) {
    margin-top: $lg-space;
  }

  h2 {
    margin-bottom: $reg-space;
    color: lighten($txt-color, 40);
  }

  a {
    border-bottom: $border-solid $txt-color;
  }

  .media-item {
    width: unset !important;
    border-bottom: $secondary $border-solid;
    padding-bottom: $sm-space;
    .tag-container {
      margin-top: 0.25rem;
    }
  }
}
