@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $sm-space;
  padding: $reg-space 0 $lg-space * 2;

  @media screen and (max-width: map-get($breakpoints, "md")) {
    display: flex;
    flex-direction: column;
  }
}

@mixin arrowRotate {
  &:after {
    content: " ↗";
  }

  &:hover {
    &:after {
      transition: $animation-transition;
      transform: rotate(45deg);
    }
  }
}

@mixin arrowRotate135 {
  &:after {
    content: " ↗";
  }

  &:hover {
    &:after {
      transition: $animation-transition;
      transform: rotate(135deg);
    }
  }
}
