@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $sm-space;
  padding: $reg-space 0 $lg-space * 2;

  @media screen and (max-width: map-get($breakpoints, "md")) {
    display: flex;
    flex-direction: column;
  }
}

@mixin arrowRotate {
  &:after {
    content: " ↗";
  }

  &:hover {
    &:after {
      transition: $animation-transition;
      transform: rotate(45deg);
    }
  }
}

@mixin arrowRotate135 {
  &:after {
    content: " ↗";
  }

  &:hover {
    &:after {
      transition: $animation-transition;
      transform: rotate(135deg);
    }
  }
}

@mixin primarybutton {
  font-family: $font-logo;
  border: $border-solid $secondary;
  background-color: lighten($primary, 10);
  &:hover {
    background-color: $primary;
  }
  &:active {
    background-color: darken($primary, 5);
  }
}

.primary-button {
  @include primarybutton;
}

@mixin secondaryButton {
  font-family: $font-logo;
  background-color: darken($secondary, 5);
  &:hover {
    background-color: darken($secondary, 10);
  }
  &:active {
    background-color: darken($secondary, 15);
  }
}

@mixin painful {
  &:hover {
    border: $border-solid lighten($primary, 30);
    background-color: lighten($primary, 30);
  }

  &:active {
    background-color: lighten($primary, 20);
    border: $border-solid lighten($primary, 20);
  }
  &.active {
    border: $border-solid lighten($primary, 10);
    background-color: lighten($primary, 10);
    animation: glow 8s infinite;
  }
}
