.nav-directory {
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: $bigger-text * 1.5;
    padding-top: $sm-space;
    font-family: $font-regular;
    transition: $animation-transition;
    @include arrowRotate;
  }
}

.pain-nav {
  display: flex;
  flex-direction: column;
  // background-color: yellow;
  grid-column: #{$grid-first-third};

  a {
    font-family: $font-regular;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include arrowRotate;
  }
}
