.nav-directory {
  display: flex;
  flex-direction: column;
  margin-bottom: $lg-space;
  a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: $bigger-text * 1.5;
    padding-top: $sm-space;
    font-family: $font-logo;
    font-weight: normal;
    transition: $animation-transition;
    cursor: pointer !important;
    @include arrowRotate;
  }
}

// NAVIGATION ARTICLE

.pain-nav {
  display: flex;
  flex-direction: column;
  grid-column: #{$grid-first-third};
  padding-right: $reg-space;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .switcher {
    display: flex;

    button {
      font-family: $font-logo;
      font-size: large;
      width: 100%;
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:nth-of-type(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.active {
        background-color: $secondary;
      }
    }
  }

  .ressources-nav {
    a {
      font-family: $font-regular;
      padding: 0.75rem 0 0.25rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include arrowRotate;
    }
  }

  .partage-nav {
    display: flex;
    gap: 0.5rem;
    margin-top: $reg-space;

    a {
      aspect-ratio: 1/1;
      background-color: $tierary;
      border-bottom: 0;
      width: fit-content;
      border-radius: $border-radius;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      svg {
        width: 30px;
        font-size: x-large;
        path {
          width: 100%;
        }
      }
    }
  }
}

// NAVIGATION fixed
.fixed-container {
  position: -webkit-sticky;
  position: sticky;
  top: $lg-space;
}
