.textImageBlock-wrapper {
  .textImageBlock {
    align-items: center;
    padding: 0;
    display: flex;

    border-bottom: $border-solid $secondary;
    @media only screen and (min-width: 600px) {
      min-height: 100vh;
      justify-content: space-between;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
      gap: $reg-space;
    }
    .text-container {
      max-width: $chperline;
      padding: $reg-space;

      h2 {
        margin-top: 0;
      }

      button {
        margin-top: $reg-space;
      }
    }

    .image-container {
      display: flex;
      max-width: 50%;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 600px) {
        max-width: 100%;
      }
      img {
        max-width: 100%;
        object-fit: contain;
        height: fit-content;
        margin: $reg-space;
      }
    }
  }
}
