.textImageBlock-wrapper {
  // &.primary {
  //   background-color: lighten($primary, 5);
  // }
  // &.secondary {
  //   background-color: $secondary;
  // }
  // &.tierary {
  //   background-color: $tierary;
  // }
  .textImageBlock {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    display: flex;

    .text-container {
      width: $chperline;
      margin: auto;

      h2 {
        margin-top: 0;
      }

      button {
        margin-top: $reg-space;
      }
    }

    .image-container {
      display: flex;
      max-width: 50%;
      justify-content: center;
      align-items: center;
      img {
        object-fit: contain;
        width: 80%;
      }
    }
  }
}
