h2,
h3,
h4,
h5,
h6 {
  font-family: $font-regular;
  font-family: $font-logo;
  font-weight: 500;
  line-height: $line-height;
}
span,
p,
li {
  font-family: $font-regular;
  font-weight: 500;
  line-height: $line-height;
}

p,
li {
  max-width: $chperline;
}

li {
  margin: $xs-space 0;
}

h1 {
  font-family: $font-logo;
  grid-column: #{$grid-fullwidth};
  margin-top: 0 !important;
}

a {
  font-family: $font-bold;
  text-decoration: none;
  color: $txt-color;
  border-bottom: $border-solid $secondary;
  &.borderless {
    border-bottom: none;
  }
  &:hover {
    border-bottom-color: transparent;
  }
}

u {
  text-decoration: none;
  border-bottom: $border-solid;
}

sup {
  font-size: 60%;
  color: $primary;
}

.logo,
.unknown__pt__mark__span,
.unknown__pt__mark__logo {
  white-space: nowrap;
  font-family: $font-logo;
}

.bigger-text {
  font-size: $bigger-text;
}

.smaller-text {
  font-size: $smaller-text;
}

strong {
  font-family: $font-bold;
  font-weight: 500;
  em {
    font-family: $font-bold-italic;
    font-weight: 500;
    font-style: normal;
  }
}

em {
  font-style: italic;
  strong {
    font-family: $font-bold-italic;
    font-weight: 500;
  }
}

.arrow-link {
  @include arrowRotate;
  border: none;
}

/*-----Ratio Scale-----*/

$type-ratios: (
  "majorThird": 1.25,
  "perfectFourth": 1.333,
  "augmentedFourth": 1.414,
  "perfectFifth": 1.5,
  "goldenRatio": 1.618,
);

@function type-ratio($key) {
  @return map-get($type-ratios, $key);
}

$type-base-size: 1rem;
$type-size-ratio: type-ratio("augmentedFourth");
$type-levels: 4, 3, 2, 1;
$type-styles: ();
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;
  $type-styles: map-merge($type-styles, (#{"h"}$level: $level-size));

  h#{$level},
  .h#{$level} {
    font-size: $level-size;
    line-height: calc(2px + 2ex + 2px);
    .colored {
      line-height: calc(2px + 2ex + 2px);
    }
    font-weight: 500;
    margin-top: calc(#{$level-size}* 2);
    margin-bottom: calc(#{$level-size}/ 2);

    // .logo {
    //   text-transform: lowercase !important;

    //   &:first-letter {
    //     text-transform: lowercase !important;
    //   }
    // }

    &:first-letter {
      text-transform: capitalize;
    }

    @if ($type-size-ratio > 1.2) {
      $level-unitless: $level-size / ($level-size * 0 + 1);
      $fluid-reduction: if($level-size > 4, 0.5, 0.33);
      $fluid-min: $level-unitless - ($fluid-reduction * $level-unitless);
      $fluid-min: if($fluid-min > $type-base-size, $fluid-min, 1);
      $fluid-scaler: ($level-unitless - $fluid-min) + 4vw;

      font-size: clamp(
        #{$fluid-min}rem,
        #{$fluid-scaler} + 0.5rem,
        #{$level-size}
      );
    }
  }
}

@function type-style($key) {
  @return map-get($type-styles, $key);
}
