/*-----Colors-----*/

// $txt-color: #4d4d28;
$txt-color: #31064b;
$txt-color-lighten: lighten($txt-color, 75);
$txt-color2: #31064b;

$bg-color: #fefdf4;

$primary: #fd4a36;
// $secondary: #dcb4ff;
$secondary: #e4c7f1;

$gradient: radial-gradient(circle, $primary 0%, $secondary 30%);

$tierary: #c8ffa5;
// $tierary: #e1ed8c;
$quarterary: #ffc3ee;

/*-----Fonts-----*/

@font-face {
  font-family: "ESRebond";
  src: url("../public/fonts/ESRebondGrotesque-Semibold.otf") format("otf"),
    url("../public/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}
$font-logo: "ESRebond";

@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../public/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff2");
}
$font-regular: "ESKlarheit-Book";

@font-face {
  font-family: "ESKlarheit-Book-Italic";
  src: url("../public/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff2");
}
$font-regular-italic: "ESKlarheit-Book-Italic";

@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../public/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff2");
}
$font-bold: "ESKlarheit-Bold";

@font-face {
  font-family: "ESKlarheit-Bold-Italic";
  src: url("../public/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff2");
}
$font-bold-italic: "ESKlarheit-Bold-Italic";

/*-----Typography-----*/

$font-size-basis: 16px;
$line-height: 1.5;
$chperline: 70ch;
$smaller-text: 80%;
$bigger-text: 120%;

/*-----Paddings & Gap-----*/

$reg-space: 2rem;
$sm-space: $reg-space / 2;
$xs-space: $sm-space / 2;
$lg-space: $reg-space * 2;
$padding-btn: 0.5em 1.5em;
$padding-btn-mobile: 0.5em 0.75em;

/*-----Borders-----*/

$border-solid: 1px solid;
$border-radius: 50px;
$border-radius-soft: 10px;

/*-----Grid Columns-----*/

$grid-center: "4/10";
$grid-first-third: "1/4";
$grid-last-thirds: "4/13";
$grid-last-third: "10/13";
$grid-first-half: "1/7";
$grid-second-half: "7/13";
$grid-fullwidth: "1/13";

/*-----Transitions-----*/

$animation-transition: 0.2s ease-in;

/*-----Elevations-----*/

$elevation-8: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 0.08),
  0 5px 5px rgba(0, 0, 0, 0.14);
$elevation-4: 0 4px 5px rgba(0, 0, 0, 0.06), 0 1.5px 7px rgba(0, 0, 0, 0.04),
  0 2.5px 2.5px rgba(0, 0, 0, 0.07);

/*-----Media Queries-----*/

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

/*-----Animations-----*/

$small-glow: 0 0 5px 2px lighten($primary, 10), 0 0 100px 60px $secondary;
$big-glow: 0 0 20px 10px lighten($primary, 10), 0 0 50px 30px $secondary;
