@charset "UTF-8";
@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"), url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "ESKlarheit-Book-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "ESKlarheit-Bold-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff2");
  font-display: swap;
}
/*-----Typography-----*/
/*-----Paddings & Gap-----*/
/*-----Borders-----*/
/*-----Grid Columns-----*/
/*-----Transitions-----*/
/*-----Media Queries-----*/
/*-----Animations-----*/
.primary-button {
  font-family: "ESRebond";
  border: 1px solid #f02b00;
  background-color: #f02b00;
}
.primary-button:hover {
  background-color: #ff4b24;
}
.primary-button:active {
  background-color: #ff7557;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "ESKlarheit-Book";
  font-family: "ESRebond";
  font-weight: 500;
  line-height: 1.5;
}

span,
p,
li {
  font-family: "ESKlarheit-Book";
  font-weight: 500;
  line-height: 1.5;
}

.unknown__pt__mark__u {
  text-decoration: none;
  border-bottom: 1px solid;
}

p,
li {
  max-width: 70ch;
}

li {
  margin: 0.5rem 0;
}

h1 {
  font-family: "ESRebond";
  grid-column: 1/13;
  margin-top: 0 !important;
}

a {
  font-family: "ESKlarheit-Bold";
  text-decoration: none;
  color: #31064b;
  border-bottom: 1px solid #e09cff;
}
a.borderless {
  border-bottom: none;
}
a:hover {
  border-bottom-color: transparent;
}

u {
  text-decoration: none;
  border-bottom: 1px solid;
}

sup {
  font-size: 60%;
  color: #f02b00;
}

.unknown__pt__mark__span,
.unknown__pt__mark__logo {
  white-space: nowrap;
  font-family: "ESRebond";
}

.bigger-text {
  font-size: 120%;
}

.smaller-text {
  font-size: 80%;
}

strong {
  font-family: "ESKlarheit-Bold", sans-serif;
  font-weight: 500;
}
strong em {
  font-family: "ESKlarheit-Bold-Italic";
  font-weight: 500;
  font-style: normal;
}

em {
  font-style: italic;
}
em strong {
  font-family: "ESKlarheit-Bold-Italic", sans-serif;
  font-weight: 500;
}

.arrow-link {
  border: none;
}
.arrow-link:after {
  content: " ↗";
  font-family: "ESRebond";
  transition: 200ms;
}
.arrow-link:hover {
  transition: 0.2s ease-in;
}
.arrow-link:hover:after {
  transform: rotate(45deg);
}

/*-----Ratio Scale-----*/
h4,
.h4 {
  font-size: 1.414rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.414rem * 2);
  margin-bottom: calc(1.414rem / 2);
  font-size: clamp(1rem, 4.414vw + 0.5rem, 1.414rem);
}
h4 .colored,
.h4 .colored {
  line-height: calc(2px + 2ex + 2px);
}

h3,
.h3 {
  font-size: 1.999396rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.999396rem * 2);
  margin-bottom: calc(1.999396rem / 2);
  font-size: clamp(1.33959532rem, 4.65980068vw + 0.5rem, 1.999396rem);
}
h3 .colored,
.h3 .colored {
  line-height: calc(2px + 2ex + 2px);
}

h2,
.h2 {
  font-size: 2.827145944rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(2.827145944rem * 2);
  margin-bottom: calc(2.827145944rem / 2);
  font-size: clamp(1.8941877825rem, 4.9329581615vw + 0.5rem, 2.827145944rem);
}
h2 .colored,
.h2 .colored {
  line-height: calc(2px + 2ex + 2px);
}

h1,
.h1 {
  font-size: 3.9975843648rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(3.9975843648rem * 2);
  margin-bottom: calc(3.9975843648rem / 2);
  font-size: clamp(2.6783815244rem, 5.3192028404vw + 0.5rem, 3.9975843648rem);
}
h1 .colored,
.h1 .colored {
  line-height: calc(2px + 2ex + 2px);
}

.to-continue {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
}
.to-continue .switch-approach {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.to-continue .switch-approach button {
  margin-bottom: 4rem;
}
.to-continue .similar-pains {
  display: flex;
  flex-direction: column;
}

.nav-directory {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
@media only screen and (max-width: 600px) {
  .nav-directory {
    padding-bottom: 0;
    margin: 0;
    font-size: large;
  }
}
.nav-directory h3 {
  margin-top: 0;
}
.nav-directory a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0 0.25rem;
  font-weight: normal;
  transition: 0.2s ease-in;
  cursor: pointer !important;
  font-family: "ESRebond" !important;
}
.nav-directory a:after {
  content: " ↗";
  font-family: "ESRebond";
  transition: 200ms;
}
.nav-directory a:hover {
  transition: 0.2s ease-in;
}
.nav-directory a:hover:after {
  transform: rotate(45deg);
}
.nav-directory a span {
  font-family: "ESRebond" !important;
}
@media only screen and (max-width: 600px) {
  .nav-directory a {
    padding-bottom: 0;
  }
}

.pain-nav {
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
  padding-right: 2rem;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 600px) {
  .pain-nav {
    position: relative;
  }
  .pain-nav h3 {
    margin-top: 0;
  }
}
.pain-nav .switch {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #e09cff;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.pain-nav .switch .types {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.pain-nav .switch .types span {
  font-family: "ESRebond";
  font-size: large;
  width: 100%;
  text-align: center;
  z-index: 99;
}
.pain-nav .switch .handle {
  width: 50%;
  height: 2.5rem;
  display: flex;
  background-color: #e09cff;
  border-radius: 40px;
  display: flex;
}
.pain-nav .switch[data-isOn=true] {
  justify-content: flex-end;
}
.pain-nav .ressources-nav a {
  font-family: "ESRebond";
  font-size: large;
  padding: 0.75rem 0 0.25rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pain-nav .ressources-nav a:after {
  content: " ↗";
  font-family: "ESRebond";
  transition: 200ms;
}
.pain-nav .ressources-nav a:hover {
  transition: 0.2s ease-in;
}
.pain-nav .ressources-nav a:hover:after {
  transform: rotate(45deg);
}
@media only screen and (max-width: 600px) {
  .pain-nav .ressources-nav {
    border-top: 1px solid #e09cff;
    padding-top: 1rem;
    margin-top: 4rem;
  }
}
.pain-nav .partage-nav {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  align-items: center;
}
.pain-nav .partage-nav a,
.pain-nav .partage-nav .a {
  aspect-ratio: 1/1;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #e09cff;
}
.pain-nav .partage-nav a:hover,
.pain-nav .partage-nav .a:hover {
  background-color: #d069ff;
  transition: 0.2s ease-in;
}
.pain-nav .partage-nav a svg,
.pain-nav .partage-nav .a svg {
  width: 20px;
  height: 20px;
  font-size: x-large;
  color: #31064b;
}
.pain-nav .partage-nav a svg path,
.pain-nav .partage-nav .a svg path {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .pain-nav {
    width: 100%;
  }
}

.fixed-container {
  position: sticky;
}
@media only screen and (max-width: 600px) {
  .fixed-container {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
  }
}
.fixed-container .title {
  display: flex;
  flex-wrap: wrap;
}
.fixed-container .title h1 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .fixed-container .title h1 {
    margin-bottom: 0;
  }
}
.fixed-container .title h1 sup {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "ESRebond";
}
@media only screen and (max-width: 600px) {
  .fixed-container .title h1 button {
    display: none;
  }
}

.dropdowns-container {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .dropdowns-container {
    width: 100%;
    gap: 0.5rem;
    padding: 2rem 0 0;
    flex-wrap: wrap;
  }
}
.dropdowns-container .reset-button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  aspect-ratio: 1/1;
  padding: 0 0.75rem;
}
.dropdowns-container .dropdown {
  flex: 1;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .dropdowns-container .dropdown:first-of-type:not(:only-of-type) {
    min-width: 100%;
  }
}
.dropdowns-container .dropdown .drowpdown-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8b6ff;
  padding: 0.5rem 1em;
  border-radius: 20px;
}
.dropdowns-container .dropdown .dropdown-content {
  display: none;
  z-index: 1;
  width: 100%;
}
.dropdowns-container .dropdown .dropdown-content ul {
  width: 100%;
}
.dropdowns-container .dropdown .dropdown-content ul li {
  cursor: pointer;
  padding: 0.25rem 1em;
  background-color: #f0cfff;
  border-radius: 20px;
}
.dropdowns-container .dropdown .dropdown-content ul li:hover {
  background-color: #e09cff;
}
.dropdowns-container .dropdown .dropdown-content:hover {
  display: flex;
}
.dropdowns-container .dropdown:hover .drowpdown-title .icon {
  display: none;
}
.dropdowns-container .dropdown:hover .dropdown-content {
  display: block;
}
.dropdowns-container .dropdown:hover .dropdown-content ul {
  padding-left: 0;
  max-width: 90%;
}
.dropdowns-container .dropdown:hover .dropdown-content ul li {
  list-style: none;
  padding-right: 0;
}

.resources-nav-mobile {
  width: 100%;
  margin-top: 4rem;
}
.resources-nav-mobile h3 {
  margin-top: 0;
  border-top: 1px solid #e09cff;
  padding-top: 1rem;
}
.resources-nav-mobile a {
  padding-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .page-nav {
    display: none;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: baseline;
}
@media only screen and (min-width: 600px) {
  header .primary-button {
    background-color: #ddffab;
    border-color: #ddffab;
  }
}
header.relative {
  position: relative;
}
@media only screen and (max-width: 600px) {
  header.relative {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header.fixed {
  position: fixed;
  z-index: 999999;
  right: 0;
}
header .logo {
  display: flex;
  color: #31064b;
  font-size: 150%;
  padding: 0.5rem;
  margin-left: 1rem;
}
@media only screen and (max-width: 600px) {
  header .logo {
    padding: 0.5rem 1rem;
  }
}
header .logo.fixed {
  z-index: 99999999999;
  position: fixed;
}
header .header-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-transform: lowercase;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 600px) {
  header .header-nav {
    padding: 0 2rem;
    width: 1.5rem;
    justify-content: center;
  }
}
header .header-nav svg {
  font-size: 1.5rem;
}
header .header-nav.open {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 50%;
  right: 0;
}
header .header-nav .burger-icon {
  cursor: pointer;
  z-index: 9999;
}
header .header-nav .burger-icon.fixed {
  position: fixed;
  margin: -1rem;
}
header .header-nav a {
  font-family: "ESKlarheit-Book";
  border-bottom: none;
}
header .header-nav button {
  font-size: 16px;
  margin-right: 1rem;
}
@media only screen and (max-width: 600px) {
  header .header-nav {
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  header .header-nav .page-link {
    display: none;
  }
}
header .dropdown {
  cursor: pointer;
  display: flex;
}
@media only screen and (max-width: 600px) {
  header .dropdown {
    display: none;
  }
}
header .dropdown .nav-title.selected {
  color: #a62fee;
}
header .dropdown .dropdown-content-wrapper {
  display: none;
  z-index: -1;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fefdf4;
  flex-direction: column;
  box-shadow: 0px 20px 70px #31064b;
  cursor: default;
}
header .dropdown .dropdown-content-wrapper.selected {
  display: flex;
}
header .dropdown .dropdown-content-wrapper .dropdown-content {
  padding: 4rem 2rem 0;
  display: flex;
  margin: 4rem;
  flex-direction: column;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .h3 {
  margin-top: 0;
  font-family: "ESRebond";
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu {
  display: flex;
  gap: 4rem;
  width: 100%;
  margin: auto;
  justify-content: center;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col nav a {
  width: 100%;
  border-bottom: 1px solid #e09cff;
  padding: 0 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col nav a:hover .title {
  font-family: "ESKlarheit-Bold";
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col nav a:hover .arrow {
  transform: rotate(45deg);
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col .link-resource .arrow {
  margin-bottom: 0;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col .link-resource:hover .resource {
  border-bottom-color: #e09cff;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col .link-resource:hover .arrow {
  transform: rotate(45deg);
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col .resource {
  display: flex;
  justify-content: space-between;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 0 0 1rem 0;
  gap: 0;
  border-bottom: 1px solid transparent;
}
header .dropdown .dropdown-content-wrapper .dropdown-content .contenu .col .resource p {
  margin: 0;
  padding: 0;
}

.landing-view header {
  position: absolute;
}

.not-clickable {
  color: #ce8df6;
}

.h3.not-clickable + .bigger-text.not-clickable {
  margin-top: 2.25rem;
}

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fefdf4;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.mobile-menu .logo {
  position: fixed;
}
.mobile-menu .mobile-menu-content {
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  position: relative;
  height: 100%;
}
.mobile-menu .mobile-menu-content .foo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mobile-menu .mobile-menu-content .foo div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mobile-menu .mobile-menu-content a {
  width: 100%;
}
.mobile-menu .mobile-menu-content button {
  font-size: 1rem;
  position: absolute;
  right: 2rem;
}
.mobile-menu .mobile-menu-content .title {
  display: flex;
  font-family: "ESRebond";
  font-size: 1.2rem;
  margin: 0.25rem 0;
}
.mobile-menu .mobile-menu-content .title.plus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  align-items: baseline;
  gap: 1rem;
  flex-direction: row;
}
.mobile-menu .mobile-menu-content .title.plus a {
  display: flex;
  justify-content: space-between;
}
.mobile-menu .mobile-menu-content .title.plus span {
  padding: 0;
  font-family: "ESRebond";
  margin: 0;
  align-items: center;
  line-height: 1.1;
}
.mobile-menu .mobile-menu-content .title.plus .minus-icon {
  margin-top: -1px;
}
.mobile-menu .mobile-menu-content .title a {
  width: 100% !important;
}
.mobile-menu .mobile-menu-content nav.mobile-nav-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.mobile-menu .mobile-menu-content nav.mobile-nav-content a {
  display: flex;
  padding-top: 1rem;
}
.mobile-menu .mobile-menu-content nav.mobile-nav-content a span {
  width: 100%;
}

.marquee {
  background-color: #ddffab;
  padding: 1rem;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.marquee.closed {
  display: none;
}
.marquee .close-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.marquee .close-button svg {
  width: 15px;
}
@media only screen and (min-width: 600px) {
  .marquee .close-button {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .marquee {
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
  }
}
.marquee .content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.marquee .content a {
  border-bottom: 1px solid #e09cff;
}
.marquee button {
  font-family: "ESRebond";
  border: 1px solid #f02b00;
  background-color: #f02b00;
}
.marquee button:hover {
  background-color: #ff4b24;
}
.marquee button:active {
  background-color: #ff7557;
}

@keyframes transitionX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee2 {
  background-color: #f02b00;
  color: #fefdf4;
  padding: 1rem 0;
  overflow: hidden;
  font-size: x-large;
}
.marquee2 .marquee-content {
  display: flex;
  gap: 2rem;
  animation: transitionX 40s linear infinite;
}
.marquee2 .marquee-content .text {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.marquee2 .marquee-content .text a {
  border: 0;
  padding-bottom: 0 !important;
}
.marquee2 .marquee-content .text a.logo {
  color: #e8b6ff;
}

.logos-partners-section {
  margin-top: 16rem;
  padding: 2rem;
}
.logos-partners-section h2,
.logos-partners-section h3 {
  margin-top: 0;
}
.logos-partners-section .logos-partners-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 600px) {
  .logos-partners-section .logos-partners-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.logos-partners-section figure {
  grid-template-columns: 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  height: auto;
}
.logos-partners-section figure figure img {
  transition: 0.2s ease-in;
}
.logos-partners-section figure .placeholder {
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  background-color: #f0cfff;
  width: 100%;
}
.logos-partners-section figure img {
  max-width: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  border-top: 1px solid #e09cff;
  padding: 0 2rem;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 4rem;
}
@media only screen and (max-width: 600px) {
  footer .footer-content {
    flex-direction: column;
    gap: 4rem;
  }
}
footer .footer-content .lets {
  grid-column: 1/4;
}
footer .footer-content .lets div {
  font-size: 200%;
  letter-spacing: 0;
}
footer .footer-content .lets div span {
  font-family: "ESRebond";
}
footer .footer-content .lets div .colored {
  font-family: "ESRebond";
}
@media only screen and (min-width: 600px) {
  footer .footer-content .lets p {
    margin: 0;
  }
}
footer .footer-content button {
  font-family: "ESRebond";
  background-color: #d883ff;
}
footer .footer-content button:hover {
  background-color: #d069ff;
}
footer .footer-content button:active {
  background-color: #c850ff;
}
footer .footer-content nav {
  grid-column: 10/13;
  display: flex;
  gap: 4rem;
  text-transform: lowercase;
}
footer .footer-content nav ul {
  display: flex;
  padding-left: 0;
}
@media only screen and (min-width: 600px) {
  footer .footer-content nav ul {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer-content nav ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
footer .footer-content nav li {
  list-style: none;
  flex-basis: 50%;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
footer .footer-content nav a {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  font-family: "ESRebond";
  font-size: large;
  border-bottom: none;
}
footer .footer-content nav a:hover {
  border-bottom: none;
}

.landing-view {
  min-height: 100vh;
  bottom: 0;
  overflow-x: hidden;
}
.landing-view .tagline {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #e09cff;
}
@media only screen and (max-width: 600px) {
  .landing-view .tagline {
    display: flex;
  }
}
.landing-view .tagline .gradient {
  flex: 1;
  background: radial-gradient(circle, #f02b00 0%, #e09cff 30%);
  animation: gradient 4s infinite alternate;
  height: 100%;
}
.landing-view .tagline .content {
  flex: 1;
  padding-right: 4rem;
}
@media only screen and (max-width: 600px) {
  .landing-view .tagline .content {
    position: absolute;
    left: 2rem;
  }
}
.landing-view .tagline .content h1 {
  margin: 0;
  padding: 0;
  font-size: 700%;
}
@media only screen and (max-width: 600px) {
  .landing-view .tagline .content h1 {
    font-size: 400%;
    text-align: left;
  }
}

@keyframes gradient {
  0% {
    background-size: 100%;
    background-position: center;
  }
  100% {
    background-size: 300%;
    background-position: center;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-280%);
  }
}
.filters-container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filters-container .filters-title {
  margin: 0;
  font-size: 120%;
  max-width: 50ch;
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px 2px #ff4b24, 0 0 100px 60px #e09cff;
    mix-blend-mode: multiply;
  }
  50%, 75% {
    box-shadow: 0 0 20px 10px #ff4b24, 0 0 50px 30px #e09cff;
    mix-blend-mode: multiply;
  }
}
.filters-container .filters-content {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 0.5rem;
}
.filters-container .filters-content .filter {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.25em 1em;
  border-radius: 20px;
  text-transform: lowercase;
  height: -moz-fit-content;
  height: fit-content;
  transition: 1s;
  border: 1px solid #f02b00;
  font-family: "ESRebond";
}
.filters-container .filters-content .filter:hover {
  border: 1px solid #ff9f8a;
  background-color: #ff9f8a;
}
.filters-container .filters-content .filter:active {
  background-color: #ff7557;
  border: 1px solid #ff7557;
}
.filters-container .filters-content .filter.active {
  border: 1px solid #ff4b24;
  background-color: #ff4b24;
  animation: glow 8s infinite;
}
.filters-container .filters-content .reset {
  font-family: "ESRebond";
  padding: 0.25em 1em;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  text-transform: lowercase !important;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #e09cff;
  transition: 0.2s ease-in;
}
.filters-container .filters-content .reset:hover {
  background-color: #e09cff;
  border: 1px solid #e09cff;
}

.tag-container {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  font-size: small;
  white-space: nowrap;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.25rem 1em;
  background-color: #f8e9ff;
  border-radius: 20px;
  max-height: -moz-max-content;
  max-height: max-content;
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.tag.recommendation {
  background-color: transparent;
  border-color: transparent;
  color: #31064b;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.tag.recommendation .dot {
  width: 12px;
  height: 12px;
  background-color: #f02b00;
  border-radius: 50%;
}

.double-column-containers-group .double-column-container:first-child {
  border-top: none !important;
  padding-top: 0;
}

.double-column-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
  align-items: first baseline;
  margin: 4rem 2rem;
  padding-top: 2rem;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .double-column-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .double-column-container {
    gap: 1rem;
  }
}
.double-column-container h2 {
  margin-top: 0;
}
.double-column-container div {
  flex: 1;
}
.double-column-container div:first-child {
  grid-column: 1/5;
}
.double-column-container div:nth-child(2) {
  grid-column: 5/13;
}
.double-column-container .nav-directory {
  grid-column-start: 7;
  grid-column-end: 12;
}
@media only screen and (max-width: 600px) {
  .double-column-container .nav-directory {
    width: 80vw;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
  border-top: 1px solid #e09cff;
  border-bottom: 1px solid #e09cff;
  background-color: #e09cff;
}
@media screen and (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}

.card {
  grid-column: span 4;
  width: 100%;
  color: #31064b;
  background-color: #fefdf4;
}
.card a {
  border-bottom: 0;
}
.card .card-content {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: 0.2s ease-in;
}
.card .card-content:hover {
  background-color: #f8e9ff;
}
.card .card-content .text-container {
  padding: 0 2rem 2rem;
  height: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-content .text-container h3 {
  margin-top: 0;
  font-family: "ESRebond";
  font-size: larger;
}
.card .card-content .card-image-container {
  display: flex;
  aspect-ratio: 16/9;
}
.card .card-content .card-image-container img {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-content:hover img {
  transform: scale(1.02);
  transition: 700ms;
}

.note {
  padding: 0 2rem;
}
.note a {
  border-bottom: 1px solid #e09cff;
}
.note a:hover {
  border: none;
}

.title-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
@media screen and (max-width: 768px) {
  .title-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .title-container {
    padding-top: 0;
  }
}
.title-container .title {
  grid-column: 4/10;
}
.title-container .pain-illu-cover {
  grid-column: 3/11;
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  transition: 3s;
  margin-top: 2rem;
}
.title-container .pain-illu-cover img {
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  transition: 3s;
}
.title-container .pain-illu-cover:hover img {
  transform: scale(1.05);
}

.pain-article {
  grid-column: 4/9;
  border-left: 1px solid #e09cff;
  padding: 0 2rem;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .pain-article h2:first-child,
  .pain-article h3:first-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .pain-article {
    width: 100%;
    border-left: none;
    padding: 0;
  }
}

.pain-nav-article-container {
  align-items: baseline;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1px;
}
@media screen and (max-width: 768px) {
  .pain-nav-article-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .pain-nav-article-container {
    display: flex;
  }
}

.breadcrumbs {
  display: flex;
  padding: 4rem 2rem 8rem;
  color: #31064b;
  font-size: 80%;
  margin-top: 2rem;
}
.breadcrumbs .crumb a {
  white-space: nowrap;
}
.breadcrumbs .crumb span {
  white-space: nowrap;
}
.breadcrumbs .crumb:after {
  content: "→";
  padding: 0 0.5rem;
  color: #31064b;
  font-family: "ESRebond";
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
@media only screen and (max-width: 600px) {
  .breadcrumbs {
    padding: 2rem;
    flex-wrap: wrap;
  }
}

.intro-image {
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.card-image-container {
  border-radius: 20px;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2rem;
  background-color: #e8b6ff;
}

.card-image {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: auto;
}

.intro-image,
.guide-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 0;
}

.diagrams-container {
  align-self: flex-start;
  width: 100%;
  grid-column: 9/13;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}
.diagrams-container .schema-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e09cff;
  border-radius: 20px;
  padding-top: 2rem;
}
.diagrams-container .schema-container .schema {
  height: auto;
}
.diagrams-container .schema-container .schema-caption {
  text-align: center;
  font-size: 80%;
}

.modal {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(254, 253, 244, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  border: 1px solid #e09cff;
  border-radius: 20px;
  background-color: #fefdf4;
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-content button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal .modal-content p {
  max-width: -moz-fit-content;
  max-width: fit-content;
  justify-self: center;
}

button {
  border: 1px solid #e09cff;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  color: #31064b;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
  text-transform: lowercase;
}
button:disabled {
  opacity: 40%;
}
button:disabled:hover {
  background-color: transparent !important;
  cursor: not-allowed;
}
button:hover {
  background-color: #e09cff;
}
button:active {
  background-color: #d883ff;
  border-color: #d883ff;
}
button.square-button {
  aspect-ratio: 1/1;
  line-height: 0;
  padding: 0.75em;
  margin: 0;
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: transparent;
  width: 100%;
}

.secondary-button {
  font-family: "ESRebond" !important;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #e09cff;
  border: 1px solid #e09cff;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.2s ease-in;
}
.secondary-button:hover {
  background-color: #e8b6ff;
  border: 1px solid #e8b6ff;
}
.secondary-button:after {
  content: "→";
}

.media-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.media-container h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: #a62fee;
}
.media-container a {
  border-bottom: 1px solid #31064b;
}
.media-container .media-item {
  width: unset !important;
  border-bottom: #e09cff 1px solid;
  padding-bottom: 1rem;
}
.media-container .media-item .tag-container {
  margin-top: 1rem;
}

.exercise {
  max-width: 100%;
}
.exercise h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}
.exercise h2 button {
  border: none !important;
  padding: 0 1rem;
  aspect-ratio: 1/1;
  width: 3rem;
  font-family: "ESRebond";
  font-size: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise:not(:first-child) {
  border-top: 1px solid #e09cff;
  padding-top: 2rem;
}

.exercise-intro {
  margin: 1rem 0 !important;
}
.exercise-intro p {
  margin: 0.5rem 0;
}

.exercice-closed {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.exercice-closed * {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.step-closed {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.step-closed * {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.exercise-steps {
  height: -moz-fit-content;
  height: fit-content;
}
.exercise-steps iframe {
  display: flex;
  margin: 2rem 0;
  border: 1px solid #e09cff;
  border-radius: 20px;
  max-width: 100%;
}
.exercise-steps ul {
  padding-left: 0;
}
.exercise-steps ul li {
  list-style: unset;
  padding: 0;
}

ol {
  padding-left: 0;
}
ol .step h4 li {
  margin-top: 0;
  padding-top: 0;
  font-family: "ESRebond" !important;
}
ol .step h4 li::marker {
  color: #a62fee;
}
ol li {
  padding: 1rem 0 0;
}

.letter-title .h1 {
  color: #f02b00;
  border-top: 1px solid #e09cff;
  font-family: "ESRebond";
}
@media only screen and (max-width: 600px) {
  .letter-title .h1 {
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px) {
  .letter-title:first-child .h1 {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}

.term-entry h2 {
  padding-top: 1rem;
}

.related-pain-container {
  display: flex;
  gap: 0.5rem;
  font-size: 80%;
}
.related-pain-container a {
  font-family: "ESKlarheit-Book";
  display: flex;
}
.related-pain-container a:after {
  content: " ↗";
  font-family: "ESRebond";
  transition: 200ms;
}
.related-pain-container a:hover {
  transition: 0.2s ease-in;
}
.related-pain-container a:hover:after {
  transform: rotate(45deg);
}

.glossary-dashboard {
  display: flex;
  flex-direction: column;
}

form {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}
form .search-bar {
  padding: 0.5rem 1rem;
  border: 1px solid #e09cff;
  border-radius: 20px;
}
form .search-bar::-moz-placeholder {
  color: #31064b;
  opacity: 50%;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
}
form .search-bar::placeholder {
  color: #31064b;
  opacity: 50%;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
}

.letter-link-container {
  display: flex;
  gap: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .letter-link-container {
    display: none;
  }
}
.letter-link-container .letter-link {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0.5em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  line-height: 0;
  margin: 0;
  background-color: #f0cfff;
}
.letter-link-container .letter-link:hover {
  cursor: pointer;
  border: 1px solid #e09cff;
  border-radius: 20px;
}
.letter-link-container .letter-link:active {
  background-color: #e09cff;
}
.letter-link-container .letter-link.disabled {
  cursor: default;
  background-color: #f8e9ff;
  border: none;
}

.highlighted-glossary-term:after {
  content: " ↗";
  font-family: "ESRebond";
  transition: 200ms;
}
.highlighted-glossary-term:hover {
  transition: 0.2s ease-in;
}
.highlighted-glossary-term:hover:after {
  transform: rotate(45deg);
}

.directory-container {
  padding-bottom: 4rem;
}
.directory-container a {
  font-family: "ESKlarheit-Book";
}
.directory-container .directory-item {
  margin: 2rem 0 !important;
  display: flex;
  width: 92%;
  flex-direction: column;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid #e09cff;
}
@media only screen and (max-width: 600px) {
  .directory-container .directory-item {
    width: 75%;
  }
}
.directory-container .directory-item:first-of-type {
  margin-top: 0 !important;
}
.directory-container .directory-item .directory-item-title {
  display: flex;
  gap: 2rem;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .directory-container .directory-item .directory-item-title {
    align-items: flex-start;
    gap: 1rem;
  }
}
.directory-container .directory-item .directory-item-title h2,
.directory-container .directory-item .directory-item-title h3 {
  margin: 0;
}
.directory-container .directory-item .directory-item-subtitle {
  color: #f02b00;
  margin-top: 0.5rem;
}
.directory-container .directory-item .directory-item-content-container {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .directory-container .directory-item .directory-item-content-container {
    flex-direction: column;
  }
}
.directory-container .directory-item .directory-item-content-container .col1 {
  min-width: 50%;
}
@media only screen and (max-width: 600px) {
  .directory-container .directory-item .directory-item-content-container .col1 {
    min-width: 100%;
  }
  .directory-container .directory-item .directory-item-content-container .col1 p {
    margin-block-end: 0;
  }
}
.directory-container .directory-item .directory-item-content-container .directory-item-address:not(:first-of-type) {
  margin-top: 1rem;
}

.directory-container h3 {
  margin: 1rem 0;
}

.category-title {
  color: #ba5ef2;
  max-width: 100%;
}
.category-title:first-of-type {
  margin-top: 0;
}

.msg-box {
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.msg-box * {
  margin: 0;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
}

.msg {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.5em;
  padding: 0.5rem 0;
  align-items: flex-start;
}
.msg a {
  border-bottom: none;
}
.msg * {
  padding: 0;
  margin: 0;
}
.msg.success {
  border-bottom: 1px solid #ddffab;
}
.msg.success:before {
  content: "👏  ";
}
.msg.reminder {
  border-bottom: 1px solid #e09cff;
}
.msg.reminder:before {
  content: "🔔  ";
}
.msg.pending {
  border-bottom: 1px solid #e09cff;
}
.msg.pending:before {
  content: "⌛  ";
}
.msg.warning {
  border-bottom: 1px solid red;
}
.msg.warning:before {
  content: "⚠️  ";
}
.msg.archived {
  border-bottom: 1px solid secondary;
}
.msg.archived:before {
  content: "📁  ";
}
.msg.error {
  border-bottom: 1px solid #f02b00;
}
.msg.error:before {
  content: "🚩 ";
}
.msg.info {
  border-bottom: 1px solid #e09cff;
}
.msg.info:before {
  content: "💡 ";
}

.error-list {
  display: none;
}
.error-list li {
  margin: 0;
  padding: 0;
}
.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: #f02b00;
  grid-column: 1/6;
}
.error-list:not(:empty) li {
  list-style: none;
}
.error-list:not(:empty) li:before {
  content: "🚨  ";
}

.redirection {
  width: -moz-fit-content;
  width: fit-content;
}
.redirection a {
  border-bottom: none;
  padding-left: 16px;
}
.redirection:before {
  position: absolute;
  content: "↗";
  transition: 0.2s ease-in;
}
.redirection:hover:before {
  transform: rotate(45deg);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #31064b;
  padding: 1rem;
  border-radius: 20px;
}
form.search-form {
  flex-direction: row;
  align-items: baseline;
}
form h3 {
  padding: 0;
  margin: 1rem 0;
}
form label {
  font-family: "ESKlarheit-Book";
  min-width: 25%;
  width: -moz-fit-content;
  width: fit-content;
}
form .form-section {
  display: flex;
  padding: 0.5rem 0;
  width: 100%;
  align-items: baseline;
  border-bottom: 1px solid #e09cff;
  gap: 1rem;
}
form .form-section label.required:after {
  content: " *";
  color: #f02b00;
}
form .form-section select {
  border: none;
  font-family: "ESKlarheit-Book";
  font-size: 16px;
  color: #31064b;
  background-color: transparent;
  width: 100%;
}
form .form-section select option:checked, form .form-section select option:focus {
  background-color: #ddffab;
}
form .form-section input,
form .form-section textarea {
  font-family: "ESKlarheit-Book";
  color: #31064b;
  background-color: #31064b;
  border: none;
  font-size: 16px;
  padding: 0.5rem;
}
form .form-section input[type=text],
form .form-section input[type=password],
form .form-section input[type=email],
form .form-section input[type=number],
form .form-section input[type=date],
form .form-section input[type=time],
form .form-section textarea {
  width: 100%;
  color: #31064b;
}
form .form-section.checkbox-container {
  font-size: 80%;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
form .form-section.addresses {
  flex-direction: column;
  border-bottom-color: transparent;
}
form .form-section.addresses .address {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #31064b;
  padding: 1rem;
}
form .input-section {
  display: flex;
  gap: 0.5rem;
}
form .input-section .showPassword {
  padding: 0;
  border: 0;
}

.radio-buttons-container,
.checkbox-buttons-container {
  border: 1px solid #e09cff;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 100%;
}
.radio-buttons-container .form-section,
.checkbox-buttons-container .form-section {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.radio-buttons-container .form-section label,
.checkbox-buttons-container .form-section label {
  width: -moz-fit-content;
  width: fit-content;
}
.radio-buttons-container .form-section input,
.checkbox-buttons-container .form-section input {
  aspect-ratio: 1/1;
}

.form-check-input {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
  background-position: center;
  border: 2px solid #ff7557;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25em;
  background-color: white;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:checked {
  background-color: #f02b00;
}

.form-check-input[type=checkbox] {
  border: 1px solid #f02b00;
}
.form-check-input[type=checkbox]:disabled {
  opacity: 30%;
}
.form-check-input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #f02b00;
  border-bottom: transparent;
}
.form-check-input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.animated-data {
  display: flex;
  gap: 2rem;
  grid-column: none;
  padding: 1rem 0;
  flex-wrap: wrap;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.animated-data .orangeDot,
.animated-data .violetDot {
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  flex: 0 0 15%;
  width: 30px;
}
.animated-data .orangeDot {
  background-color: #f02b00;
  box-shadow: 0 0 7px 5px #f02b00;
  animation: smallGlow 8s infinite;
}
.animated-data .violetDot {
  background-color: #e09cff;
}

@keyframes smallGlow {
  0%, 100% {
    box-shadow: 0 0 5px 5px #f02b00;
    mix-blend-mode: multiply;
  }
  50%, 75% {
    box-shadow: 0 0 30px 20px #f02b00;
    mix-blend-mode: multiply;
  }
}
.navBlock:first-of-type {
  border-top: 0;
}
.navBlock .nav-directory {
  font-size: xx-large;
}

.textImageBlock-wrapper + .navBlock {
  border-top: 0;
}

.textImageBlock-wrapper .textImageBlock {
  align-items: center;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #e09cff;
}
@media only screen and (min-width: 600px) {
  .textImageBlock-wrapper .textImageBlock {
    min-height: 100vh;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .textImageBlock-wrapper .textImageBlock {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
.textImageBlock-wrapper .textImageBlock .text-container {
  max-width: 70ch;
  padding: 2rem;
}
.textImageBlock-wrapper .textImageBlock .text-container h2 {
  margin-top: 0;
}
.textImageBlock-wrapper .textImageBlock .text-container button {
  margin-top: 2rem;
}
.textImageBlock-wrapper .textImageBlock .image-container {
  display: flex;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .textImageBlock-wrapper .textImageBlock .image-container {
    max-width: 100%;
  }
}
.textImageBlock-wrapper .textImageBlock .image-container img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2rem;
}

.events {
  display: flex;
  gap: 1rem;
}

.dots-zone {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.dots-zone .content {
  width: 50%;
  height: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.dots-zone .content .h3 {
  text-align: center;
  margin: 0 auto;
  line-height: 1.1;
  font-family: "ESRebond";
  max-width: 80%;
}
@media only screen and (max-width: 600px) {
  .dots-zone .content .h3 {
    text-align: left;
    max-width: 100%;
  }
}
.dots-zone .content a {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.dots-zone .dots-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.dots-zone .dots-container .dot {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  opacity: 0;
  /* NOTE TESTING*/
}
.dots-zone .dots-container .dot:after {
  display: none;
}
@media only screen and (max-width: 600px) {
  .dots-zone .dots-container .dot {
    width: 2rem;
    height: 2rem;
  }
}
.dots-zone .dots-container .dot.primary {
  background-color: #e09cff;
}
.dots-zone .dots-container .dot.secondary {
  background-color: #f0cfff;
}
.dots-zone .dots-container .dot:nth-of-type(1) {
  top: 16%;
  left: 50%;
}
.dots-zone .dots-container .dot:nth-of-type(1):after {
  content: "1";
}
.dots-zone .dots-container .dot:nth-of-type(2) {
  top: 10%;
  left: 20%;
}
.dots-zone .dots-container .dot:nth-of-type(2):after {
  content: "2";
}
.dots-zone .dots-container .dot:nth-of-type(3) {
  top: 4%;
  left: 60%;
}
.dots-zone .dots-container .dot:nth-of-type(3):after {
  content: "3";
}
.dots-zone .dots-container .dot:nth-of-type(4) {
  top: 18%;
  left: 70%;
}
.dots-zone .dots-container .dot:nth-of-type(4):after {
  content: "4";
}
.dots-zone .dots-container .dot:nth-of-type(5) {
  top: 16%;
  left: 30%;
}
.dots-zone .dots-container .dot:nth-of-type(5):after {
  content: "5";
}
.dots-zone .dots-container .dot:nth-of-type(6) {
  top: 25%;
  left: 5%;
}
.dots-zone .dots-container .dot:nth-of-type(6):after {
  content: "6";
}
.dots-zone .dots-container .dot:nth-of-type(7) {
  top: 5%;
  left: 38%;
}
.dots-zone .dots-container .dot:nth-of-type(7):after {
  content: "7";
}
.dots-zone .dots-container .dot:nth-of-type(8) {
  top: 85%;
  left: 4%;
}
.dots-zone .dots-container .dot:nth-of-type(8):after {
  content: "8";
}
.dots-zone .dots-container .dot:nth-of-type(9) {
  top: 16%;
  left: 80%;
}
.dots-zone .dots-container .dot:nth-of-type(9):after {
  content: "9";
}
.dots-zone .dots-container .dot:nth-of-type(10) {
  top: 35%;
  left: 22%;
}
.dots-zone .dots-container .dot:nth-of-type(10):after {
  content: "10";
}
.dots-zone .dots-container .dot:nth-of-type(11) {
  top: 56%;
  left: 92%;
}
.dots-zone .dots-container .dot:nth-of-type(11):after {
  content: "11";
}
.dots-zone .dots-container .dot:nth-of-type(12) {
  top: 78%;
  left: 25%;
}
.dots-zone .dots-container .dot:nth-of-type(12):after {
  content: "12";
}
.dots-zone .dots-container .dot:nth-of-type(13) {
  top: 32%;
  left: 86%;
}
.dots-zone .dots-container .dot:nth-of-type(13):after {
  content: "13";
}
.dots-zone .dots-container .dot:nth-of-type(14) {
  top: 48%;
  left: 12%;
}
.dots-zone .dots-container .dot:nth-of-type(14):after {
  content: "14";
}
.dots-zone .dots-container .dot:nth-of-type(15) {
  top: 48%;
  left: 82%;
}
.dots-zone .dots-container .dot:nth-of-type(15):after {
  content: "15";
}
.dots-zone .dots-container .dot:nth-of-type(16) {
  top: 60%;
  left: 2%;
}
.dots-zone .dots-container .dot:nth-of-type(16):after {
  content: "16";
}
.dots-zone .dots-container .dot:nth-of-type(17) {
  top: 84%;
  left: 75%;
}
.dots-zone .dots-container .dot:nth-of-type(17):after {
  content: "17";
}
.dots-zone .dots-container .dot:nth-of-type(18) {
  top: 75%;
  left: 45%;
}
.dots-zone .dots-container .dot:nth-of-type(18):after {
  content: "18";
}
.dots-zone .dots-container .dot:nth-of-type(19) {
  top: 80%;
  left: 88%;
}
.dots-zone .dots-container .dot:nth-of-type(19):after {
  content: "19";
}
.dots-zone .dots-container .dot:nth-of-type(20) {
  top: 83%;
  left: 55%;
}
.dots-zone .dots-container .dot:nth-of-type(20):after {
  content: "20";
}
.dots-zone .dots-container .dot:nth-of-type(21) {
  top: 78%;
  left: 65%;
}
.dots-zone .dots-container .dot:nth-of-type(21):after {
  content: "21";
}
.dots-zone .dots-container .dot:nth-of-type(22) {
  top: 92%;
  left: 33%;
}
.dots-zone .dots-container .dot:nth-of-type(22):after {
  content: "22";
}
.dots-zone .dots-container .dot:nth-of-type(23) {
  top: 72%;
  left: 12%;
}
.dots-zone .dots-container .dot:nth-of-type(23):after {
  content: "23";
}
.dots-zone .dots-container .dot:nth-of-type(24) {
  top: 3%;
  left: 3%;
}
.dots-zone .dots-container .dot:nth-of-type(24):after {
  content: "24";
}
.dots-zone .dots-container .dot:nth-of-type(25) {
  top: 6%;
  left: 92%;
}
.dots-zone .dots-container .dot:nth-of-type(25):after {
  content: "25";
}
.dots-zone .dots-container .dot:nth-of-type(26) {
  top: 2%;
  left: 12%;
}
.dots-zone .dots-container .dot:nth-of-type(26):after {
  content: "26";
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #fefdf4;
  color: #31064b;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body * {
  font-feature-settings: "ss11" !important;
}
body * ul li::marker {
  color: #f02b00;
}

main {
  padding: 0 2rem;
}

.acronym {
  text-transform: capitalize;
}

.colored {
  color: #f02b00;
}

.no-color {
  color: #31064b;
}

.nowrap {
  white-space: nowrap !important;
}

.logo {
  font-family: "ESRebond";
}

a.colored.logo {
  border-bottom: transparent;
}

.no-border {
  border-top: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
  right: 0;
  top: 0;
}

.unknown__pt__mark__internalLink {
  background-color: yellow;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e09cff;
}

::-webkit-scrollbar-thumb {
  background: #f02b00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bd2200;
}

.error-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-items: center;
  align-items: center;
  margin: 0 4rem 8rem;
}
.error-page-container .error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-page-container .error-page-content p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}/*# sourceMappingURL=globals.css.map */