@import "vars";
@import "mixins";
@import "animation";
@import "nav";
@import "typography";
@import "accessibility";
@import "header";
@import "footer";
@import "tagline";
@import "marquee";
@import "filters";
@import "grid-layouts";
@import "breadcrumbs";

body {
  margin: 0;
  background-color: $bg-color;
  color: $txt-color;
  * {
    font-feature-settings: "ss11" !important;
    transition: $animation-transition;
  }
}

.acronym {
  text-transform: capitalize;
}
