@import "vars";

@import "mixins";
@import "typography";
@import "animation";
@import "nav";

@import "accessibility";
@import "header";
@import "footer";
@import "tagline";
@import "filters";
@import "grid";
@import "breadcrumbs";
@import "images";
@import "button";
@import "media";
@import "exercise";
@import "glossary";
@import "directory";
@import "message";
@import "form";
@import "bootstrap";
@import "animatedData";
@import "navBlock";

@import "textImageBlock";
@import "events";
@import "dots-zone";

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

.snap-section {
  scroll-snap-align: start;
}

.snap-stop {
  scroll-snap-stop: always;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $txt-color;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  * {
    font-feature-settings: "ss11" !important;
    ul {
      li {
        &::marker {
          color: $primary;
        }
      }
    }
  }
}

main {
  padding: 0 $reg-space;
}

.acronym {
  text-transform: capitalize;
}

.colored {
  color: $primary;
}

.no-color {
  color: $txt-color;
}

.nowrap {
  white-space: nowrap !important;
}
.logo {
  font-family: $font-logo;
}

a.colored.logo {
  border-bottom: transparent;
}

.no-border {
  border-top: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
  right: 0;
  top: 0;
}

.unknown__pt__mark__internalLink {
  background-color: yellow;
}

//SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary;
}

// /* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($primary, 10);
}

.error-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-items: center;
  align-items: center;
  margin: $lg-space;
  .error-page-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      align-self: center;
    }
  }
}

.desktop-only {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
