@charset "UTF-8";
/*-----Colors-----*/
/*-----Fonts-----*/
@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"), url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Book-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff2");
}
/*-----Typography-----*/
/*-----Paddings & Gap-----*/
/*-----Borders-----*/
/*-----Grid Columns-----*/
/*-----Transitions-----*/
/*-----Elevations-----*/
/*-----Media Queries-----*/
/*-----Animations-----*/
.nav-directory {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.nav-directory a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 180%;
  padding-top: 1rem;
  font-family: "ESKlarheit-Book";
  transition: 0.2s ease-in;
  cursor: pointer !important;
}
.nav-directory a:after {
  content: " ↗";
}
.nav-directory a:hover:after {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
}

.pain-nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
  padding-right: 2rem;
  position: sticky;
  top: 0;
}
.pain-nav a {
  font-family: "ESKlarheit-Book";
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pain-nav a:after {
  content: " ↗";
}
.pain-nav a:hover:after {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
}

.fixed-container {
  position: sticky;
  top: 4rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "ESRebond";
  font-weight: 500;
  line-height: 1.5;
}

span,
p,
li {
  font-family: "ESKlarheit-Book";
  font-weight: 500;
  line-height: 1.5;
}

p,
li {
  max-width: 70ch;
}

li {
  margin: 0.5rem 0;
}

h1 {
  font-family: "ESRebond";
  grid-column: 1/13;
  margin-top: 0 !important;
}

a {
  font-family: "ESKlarheit-Bold";
  text-decoration: none;
  color: #31064b;
  border-bottom: 1px solid #ffc3ee;
}
a.borderless {
  border-bottom: none;
}
a:hover {
  border-bottom-color: transparent;
}

u {
  text-decoration: none;
  border-bottom: 1px solid;
}

sup {
  font-size: 60%;
  color: #fd4a36;
}

.logo,
.unknown__pt__mark__span,
.unknown__pt__mark__logo {
  white-space: nowrap;
  font-family: "ESRebond";
}

.bigger-text {
  font-size: 120%;
}

.smaller-text {
  font-size: 80%;
}

strong {
  font-family: "ESKlarheit-Bold";
}
strong em {
  font-family: "ESKlarheit-Bold-Italic";
}

em {
  font-family: "ESKlarheit-Book-Italic";
}

.arrow-link:after {
  content: " ↗";
}
.arrow-link:hover:after {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
}

/*-----Ratio Scale-----*/
h4,
.h4 {
  font-size: 1.414rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.414rem * 1.25);
  margin-bottom: calc(1.414rem / 2);
  font-size: clamp(1rem, 4.414vw + 0.5rem, 1.414rem);
}
h4 .colored,
.h4 .colored {
  line-height: calc(2px + 2ex + 2px);
}
h4 .logo,
.h4 .logo {
  text-transform: lowercase !important;
}
h4 .logo:first-letter,
.h4 .logo:first-letter {
  text-transform: lowercase !important;
}
h4:first-letter,
.h4:first-letter {
  text-transform: capitalize;
}

h3,
.h3 {
  font-size: 1.999396rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.999396rem * 1.25);
  margin-bottom: calc(1.999396rem / 2);
  font-size: clamp(1.33959532rem, 4.65980068vw + 0.5rem, 1.999396rem);
}
h3 .colored,
.h3 .colored {
  line-height: calc(2px + 2ex + 2px);
}
h3 .logo,
.h3 .logo {
  text-transform: lowercase !important;
}
h3 .logo:first-letter,
.h3 .logo:first-letter {
  text-transform: lowercase !important;
}
h3:first-letter,
.h3:first-letter {
  text-transform: capitalize;
}

h2,
.h2 {
  font-size: 2.827145944rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(2.827145944rem * 1.25);
  margin-bottom: calc(2.827145944rem / 2);
  font-size: clamp(1.8941877825rem, 4.9329581615vw + 0.5rem, 2.827145944rem);
}
h2 .colored,
.h2 .colored {
  line-height: calc(2px + 2ex + 2px);
}
h2 .logo,
.h2 .logo {
  text-transform: lowercase !important;
}
h2 .logo:first-letter,
.h2 .logo:first-letter {
  text-transform: lowercase !important;
}
h2:first-letter,
.h2:first-letter {
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: 3.9975843648rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(3.9975843648rem * 1.25);
  margin-bottom: calc(3.9975843648rem / 2);
  font-size: clamp(2.6783815244rem, 5.3192028404vw + 0.5rem, 3.9975843648rem);
}
h1 .colored,
.h1 .colored {
  line-height: calc(2px + 2ex + 2px);
}
h1 .logo,
.h1 .logo {
  text-transform: lowercase !important;
}
h1 .logo:first-letter,
.h1 .logo:first-letter {
  text-transform: lowercase !important;
}
h1:first-letter,
.h1:first-letter {
  text-transform: capitalize;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 2rem 0 8rem;
  padding: 1rem 2rem;
  align-items: baseline;
  position: absolute;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header .logo {
  color: #31064b;
  font-size: 150%;
}
header .logo sup {
  color: #31064b;
}
header nav {
  grid-column: 4/13;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header nav a {
  font-family: "ESKlarheit-Book";
  text-transform: lowercase;
  border-bottom: none;
}
header nav button {
  font-size: 16px;
}

footer {
  background-color: #c8ffa5;
  padding: 2rem;
}
footer .footer-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 2rem 0 8rem;
}
@media screen and (max-width: 768px) {
  footer .footer-content {
    display: flex;
    flex-direction: column;
  }
}
footer .footer-content p {
  margin-top: 0;
  font-size: 200%;
  grid-column: 1/7;
  color: #31064b;
}
footer .footer-content p .logo .talk {
  color: #ac4eff;
}
footer .footer-content button {
  font-family: "ESRebond";
  background-color: #d09bff;
}
footer .footer-content button:hover {
  background-color: #c481ff;
}
footer .footer-content button:active {
  background-color: #b868ff;
}
footer .footer-content nav {
  grid-column: 10/13;
  display: flex;
  gap: 4rem;
  text-transform: lowercase;
}
footer .footer-content nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
footer .footer-content nav li {
  list-style: none;
  flex-basis: 50%;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
footer .footer-content nav a {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  font-family: "ESKlarheit-Book" !important;
  border-bottom: none;
}
footer .footer-content nav a:hover {
  border-bottom: none;
}

.landing-view {
  height: 100vh;
  position: relative;
}
.landing-view .tagline {
  background: radial-gradient(circle, #fd4a36 0%, #dcb4ff 30%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: gradient 4s infinite alternate;
}
.landing-view .tagline * {
  color: #31064b;
  text-align: center;
  max-width: 60%;
  line-height: 1;
}
.landing-view .marquee {
  background-color: #c8ffa5;
  padding: 1rem 0;
  font-size: 120%;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.landing-view .marquee p {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.landing-view .marquee button {
  background-color: #fe7768;
  border: 1px solid #fe7768;
}
.landing-view .marquee button:hover {
  border: 1px solid #ffd2cd;
  background-color: #ffd2cd;
}
.landing-view .marquee button:active {
  background-color: #fea59b;
  border: 1px solid #fea59b;
}
.landing-view .marquee button.active {
  border: 1px solid #fe7768;
  background-color: #fe7768;
  animation: glow 8s infinite;
}

@keyframes gradient {
  0% {
    background-size: 100%;
    background-position: center;
  }
  100% {
    background-size: 400%;
    background-position: center;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-280%);
  }
}
.filters-container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filters-container .filters-title {
  margin: 0;
  font-size: 120%;
  max-width: 50ch;
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px 2px #fe7768, 0 0 100px 60px #dcb4ff;
    mix-blend-mode: multiply;
  }
  50%, 75% {
    box-shadow: 0 0 20px 10px #fe7768, 0 0 50px 30px #dcb4ff;
    mix-blend-mode: multiply;
  }
}
.filters-container .filters-content {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 0.5rem;
}
.filters-container .filters-content .filter {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.5em 1.5em;
  font-size: 80%;
  border-radius: 50px;
  text-transform: lowercase;
  height: -moz-fit-content;
  height: fit-content;
  transition: 1s;
  border: 1px solid #fd4a36;
}
.filters-container .filters-content .filter:hover {
  border: 1px solid #ffd2cd;
  background-color: #ffd2cd;
}
.filters-container .filters-content .filter:active {
  background-color: #fea59b;
  border: 1px solid #fea59b;
}
.filters-container .filters-content .filter.active {
  border: 1px solid #fe7768;
  background-color: #fe7768;
  animation: glow 8s infinite;
}
.filters-container .filters-content .reset {
  padding: 0.5em 1.5em;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
  border-radius: 50px;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  text-transform: lowercase !important;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #edd4fc;
}
.filters-container .filters-content .reset:hover {
  background-color: #edd4fc;
  border: 1px solid #edd4fc;
}

.double-column-containers-group .double-column-container:first-child {
  border-top: none !important;
  padding-top: 0;
}

.double-column-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 2rem 0 8rem;
  align-items: first baseline;
  margin: 0 2rem;
  border-top: 1px solid #dcb4ff;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .double-column-container {
    display: flex;
    flex-direction: column;
  }
}
.double-column-container div:first-child {
  grid-column: 1/6;
}
.double-column-container div:nth-child(2) {
  margin: 0;
  grid-column: 7/13;
  width: 100%;
}

.pain-cards-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 2rem 0 8rem;
  margin: 0 2rem;
}
@media screen and (max-width: 768px) {
  .pain-cards-container {
    display: flex;
    flex-direction: column;
  }
}

.pain-card {
  grid-column: span 3;
  width: 100%;
  color: #31064b;
  border-bottom: none;
}
.pain-card a {
  border-bottom: 0;
}
.pain-card .pain-card-content {
  overflow: hidden;
  background-color: #fefdf4;
  border: 1px solid #dcb4ff;
  border-radius: 10px;
  min-height: 100%;
}
.pain-card .pain-card-content h3 {
  margin: 2rem;
  font-family: "ESKlarheit-Book";
}
.pain-card .pain-card-content img {
  width: 100%;
}

.pain-article {
  grid-column: 4/13;
  width: 100%;
  border-left: 1px solid #edd4fc;
  padding-left: 2rem;
  margin-top: 4rem;
}
.pain-article h2:first-child {
  margin-top: 0;
}
.pain-article .text-and-diagrams {
  display: flex;
  gap: 2rem;
}

.pain-nav-article-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 2rem 0 8rem;
  align-items: baseline;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .pain-nav-article-container {
    display: flex;
    flex-direction: column;
  }
}

.breadcrumbs {
  display: flex;
  padding: 4rem 2rem 8rem;
  color: #31064b;
  font-size: 80%;
}
.breadcrumbs .crumb a {
  white-space: nowrap;
}
.breadcrumbs .crumb span {
  white-space: nowrap;
}
.breadcrumbs .crumb:after {
  content: "→";
  padding: 0 0.5rem;
  color: #31064b;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}

@media screen and (max-width: 992px) {
  .breadcrumbs {
    margin-top: 15vh;
    overflow-x: auto;
  }
}
.pain-illu-cover {
  width: 100% !important;
  height: auto !important;
  border-radius: 10px;
  aspect-ratio: 16/7;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: cover;
     object-position: cover;
  grid-column: 1/13;
  background-color: #dcb4ff;
}
@media screen and (max-width: 576px) {
  .pain-illu-cover {
    aspect-ratio: 3/2;
  }
}

.pain-card-image {
  width: 100%;
  height: auto !important;
}

.intro-image,
.guide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.schema {
  height: auto !important;
  max-width: 100%;
}

.schema-caption {
  text-align: center;
  font-size: 80%;
}

.modal {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(254, 253, 244, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
button {
  border: 1px solid #dcb4ff;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  color: #31064b;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
  text-transform: lowercase;
}
button:disabled {
  opacity: 40%;
}
button:disabled:hover {
  background-color: transparent !important;
  cursor: not-allowed;
}
button:hover {
  background-color: #dcb4ff;
}
button:active {
  background-color: #d09bff;
  border-color: #d09bff;
}
button.square-button {
  aspect-ratio: 1/1;
  line-height: 0;
  padding: 0.75em;
  margin: 0;
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: transparent;
  width: 100%;
}

.media-container h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.media-item {
  border-bottom: #dcb4ff 1px solid;
}

.exercise:not(:first-child) {
  margin-top: 2rem !important;
  border-top: 1px solid #dcb4ff;
  padding-top: 2rem;
}

.exercise-intro {
  margin: 1rem 0 !important;
}
.exercise-intro p {
  margin: 0.5rem 0;
}

.exercice-closed {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.exercice-closed * {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.step-closed {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.step-closed * {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.exercise-steps {
  height: -moz-fit-content;
  height: fit-content;
}
.exercise-steps iframe {
  display: flex;
  margin: 2rem 0;
  border: 1px solid #dcb4ff;
  border-radius: 10px;
}
.exercise-steps ul {
  padding-left: 0;
}
.exercise-steps ul li {
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid #dcb4ff;
}

ol {
  padding-left: 0;
}
ol li {
  padding: 1rem 0 0;
}

.letter-title .h1 {
  color: #fd4a36;
  border-top: 1px solid #dcb4ff;
  font-family: "ESRebond";
  padding-top: 1rem;
  margin-top: 4rem;
}
.letter-title:first-child .h1 {
  border-top: none;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.term-entry h2 {
  padding-top: 1rem;
}

.related-pain-container {
  display: flex;
  gap: 0.5rem;
  font-size: 80%;
}
.related-pain-container a {
  font-family: "ESKlarheit-Book";
  display: flex;
}
.related-pain-container a:after {
  content: " ↗";
}
.related-pain-container a:hover:after {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
}

.glossary-dashboard {
  display: flex;
  flex-direction: column;
}

form {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}
form .search-bar {
  padding: 0.5rem 1rem;
  border: 1px solid #dcb4ff;
  border-radius: 50px;
}
form .search-bar::-moz-placeholder {
  color: #31064b;
  opacity: 50%;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
}
form .search-bar::placeholder {
  color: #31064b;
  opacity: 50%;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
}
form .search-bar:focus {
  border: 1px solid red !important;
}

.letter-link-container {
  display: flex;
  gap: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
}
.letter-link-container .letter-link {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0.5em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  line-height: 0;
  margin: 0;
  background-color: #edd4fc;
}
.letter-link-container .letter-link:hover {
  cursor: pointer;
  border: 1px solid #dcb4ff;
  border-radius: 50px;
}
.letter-link-container .letter-link:active {
  background-color: #dcb4ff;
}
.letter-link-container .letter-link.disabled {
  cursor: default;
  opacity: 40%;
  border: none;
}

.highlighted-glossary-term:after {
  content: " ↗";
}
.highlighted-glossary-term:hover:after {
  transition: 0.2s ease-in;
  transform: rotate(45deg);
}

.directory-container h2.h3 {
  margin: 4rem 0 2rem;
}

.directory-container h2 {
  margin: 1rem 0;
}

.directory-item {
  border-bottom: #dcb4ff 1px solid;
  padding-bottom: 1rem;
}

.msg-box {
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.msg-box * {
  margin: 0;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
}

.msg {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.5em;
  padding: 0.5rem 0;
  align-items: flex-start;
}
.msg a {
  border-bottom: none;
}
.msg * {
  padding: 0;
  margin: 0;
}
.msg.success {
  border-bottom: 1px solid #c8ffa5;
}
.msg.success:before {
  content: "👏  ";
}
.msg.reminder {
  border-bottom: 1px solid #dcb4ff;
}
.msg.reminder:before {
  content: "🔔  ";
}
.msg.pending {
  border-bottom: 1px solid #dcb4ff;
}
.msg.pending:before {
  content: "⌛  ";
}
.msg.warning {
  border-bottom: 1px solid #ffc3ee;
}
.msg.warning:before {
  content: "⚠️  ";
}
.msg.archived {
  border-bottom: 1px solid secondary;
}
.msg.archived:before {
  content: "📁  ";
}
.msg.error {
  border-bottom: 1px solid #fd4a36;
}
.msg.error:before {
  content: "🚩 ";
}
.msg.info {
  border-bottom: 1px solid #dcb4ff;
}
.msg.info:before {
  content: "💡 ";
}

.error-list {
  display: none;
}
.error-list li {
  margin: 0;
  padding: 0;
}
.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: #fd4a36;
  grid-column: 1/6;
}
.error-list:not(:empty) li {
  list-style: none;
}
.error-list:not(:empty) li:before {
  content: "🚨  ";
}

.redirection {
  width: -moz-fit-content;
  width: fit-content;
}
.redirection a {
  border-bottom: none;
  padding-left: 16px;
}
.redirection:before {
  position: absolute;
  content: "↗";
  transition: 0.2s ease-in;
}
.redirection:hover:before {
  transform: rotate(45deg);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #edd4fc;
  padding: 1rem;
  border-radius: 10px;
}
form.search-form {
  flex-direction: row;
  align-items: baseline;
}
form h3 {
  padding: 0;
  margin: 1rem 0;
}
form label {
  font-family: "ESKlarheit-Book";
  min-width: 25%;
  width: -moz-fit-content;
  width: fit-content;
}
form .form-section {
  display: flex;
  padding: 0.5rem 0;
  width: 100%;
  align-items: baseline;
  border-bottom: 1px solid #dcb4ff;
  gap: 1rem;
}
form .form-section label.required:after {
  content: " *";
  color: #fd4a36;
}
form .form-section select {
  border: none;
  font-family: "ESKlarheit-Book";
  font-size: 16px;
  color: #31064b;
  background-color: transparent;
  width: 100%;
}
form .form-section select option:checked, form .form-section select option:focus {
  background-color: #ffc3ee;
}
form .form-section input,
form .form-section textarea {
  font-family: "ESKlarheit-Book";
  color: #31064b;
  background-color: #edd4fc;
  border: none;
  font-size: 16px;
  padding: 0.5rem;
}
form .form-section input[type=text],
form .form-section input[type=password],
form .form-section input[type=email],
form .form-section input[type=number],
form .form-section input[type=date],
form .form-section input[type=time],
form .form-section textarea {
  width: 100%;
  color: #31064b;
}
form .form-section.checkbox-container {
  font-size: 80%;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
form .form-section.addresses {
  flex-direction: column;
  border-bottom-color: transparent;
}
form .form-section.addresses .address {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #edd4fc;
  padding: 1rem;
}
form .input-section {
  display: flex;
  gap: 0.5rem;
}
form .input-section .showPassword {
  padding: 0;
  border: 0;
}

.radio-buttons-container,
.checkbox-buttons-container {
  border: 1px solid #ffc3ee;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 100%;
}
.radio-buttons-container .form-section,
.checkbox-buttons-container .form-section {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.radio-buttons-container .form-section label,
.checkbox-buttons-container .form-section label {
  width: -moz-fit-content;
  width: fit-content;
}
.radio-buttons-container .form-section input,
.checkbox-buttons-container .form-section input {
  aspect-ratio: 1/1;
}

.form-check-input {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
  background-position: center;
  border: 2px solid #fea59b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25em;
  background-color: white;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:checked {
  background-color: #fd4a36;
}

.form-check-input[type=checkbox] {
  border: 1px solid #fd4a36;
}
.form-check-input[type=checkbox]:disabled {
  opacity: 30%;
}
.form-check-input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #fd4a36;
  border-bottom: transparent;
}
.form-check-input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

body {
  margin: 0;
  background-color: #fefdf4;
  color: #31064b;
}
body * {
  font-feature-settings: "ss11" !important;
  transition: 0.2s ease-in;
}

main {
  padding: 0 2rem;
}

.acronym {
  text-transform: capitalize;
}

.colored {
  color: #fd4a36;
}

.no-color {
  color: #31064b;
}

.nowrap {
  white-space: nowrap !important;
}

.logo {
  font-family: "ESRebond";
}

a.colored.logo {
  border-bottom: transparent;
}

.no-border {
  border-top: none;
}

.unknown__pt__mark__internalLink {
  background-color: yellow;
}/*# sourceMappingURL=globals.css.map */