/*-----Colors-----*/
/*-----Fonts-----*/
@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"), url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Book-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff2");
}
/*-----Typography-----*/
/*-----Paddings & Gap-----*/
/*-----Borders-----*/
/*-----Grid Columns-----*/
/*-----Transitions-----*/
/*-----Elevations-----*/
/*-----Media Queries-----*/
.nav-directory {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "ESKlarheit-Book";
  font-weight: 500;
}

a {
  font-family: "ESKlarheit-Bold";
  text-decoration: none;
  color: #4d4d28;
  border-bottom: 1px solid #ffc3ee;
}
a:hover {
  border-bottom: none;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #ffc3ee;
}

sup {
  font-size: 60%;
}

.logo {
  white-space: nowrap;
  font-family: "ESRebond";
}

/*-----Ratio Scale-----*/
h4,
.h4 {
  font-size: 1.414rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.414rem* 1.25);
  margin-bottom: calc(1.414rem/ 2);
  font-size: clamp(
        1rem,
        4.414vw + 0.5rem,
        1.414rem
      );
}
h4 .logo,
.h4 .logo {
  text-transform: lowercase !important;
}
h4 .logo:first-letter,
.h4 .logo:first-letter {
  text-transform: lowercase !important;
}
h4:first-letter,
.h4:first-letter {
  text-transform: capitalize;
}

h3,
.h3 {
  font-size: 1.999396rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.999396rem* 1.25);
  margin-bottom: calc(1.999396rem/ 2);
  font-size: clamp(
        1.33959532rem,
        4.65980068vw + 0.5rem,
        1.999396rem
      );
}
h3 .logo,
.h3 .logo {
  text-transform: lowercase !important;
}
h3 .logo:first-letter,
.h3 .logo:first-letter {
  text-transform: lowercase !important;
}
h3:first-letter,
.h3:first-letter {
  text-transform: capitalize;
}

h2,
.h2 {
  font-size: 2.827145944rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(2.827145944rem* 1.25);
  margin-bottom: calc(2.827145944rem/ 2);
  font-size: clamp(
        1.8941877825rem,
        4.9329581615vw + 0.5rem,
        2.827145944rem
      );
}
h2 .logo,
.h2 .logo {
  text-transform: lowercase !important;
}
h2 .logo:first-letter,
.h2 .logo:first-letter {
  text-transform: lowercase !important;
}
h2:first-letter,
.h2:first-letter {
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: 3.9975843648rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(3.9975843648rem* 1.25);
  margin-bottom: calc(3.9975843648rem/ 2);
  font-size: clamp(
        2.6783815244rem,
        5.3192028404vw + 0.5rem,
        3.9975843648rem
      );
}
h1 .logo,
.h1 .logo {
  text-transform: lowercase !important;
}
h1 .logo:first-letter,
.h1 .logo:first-letter {
  text-transform: lowercase !important;
}
h1:first-letter,
.h1:first-letter {
  text-transform: capitalize;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 0 2rem;
  padding: 2rem;
  background-color: yellow;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header .logo {
  color: #fd4a36;
  font-size: 150%;
}
header nav {
  grid-column: 4/13;
  display: flex;
  justify-content: space-between;
}
header nav a {
  font-family: "ESKlarheit-Book";
  text-transform: lowercase;
  border-bottom: none;
}

footer {
  background-color: #dcb4ff;
}

.tagline {
  background: radial-gradient(circle, #fd4a36 0%, #dcb4ff 30%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tagline * {
  color: #38284d;
  text-align: center;
}

.marquee {
  background-color: #c8ffa5;
}

.filters-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 0 2rem;
  background-color: yellow;
}
@media screen and (max-width: 768px) {
  .filters-container {
    display: flex;
    flex-direction: column;
  }
}
.filters-container .filters-title {
  grid-column: 7/13;
  margin: 0;
  font-size: 120%;
  max-width: 50ch;
}
.filters-container .filters-content {
  grid-column: 7/13;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 0.5rem;
}
.filters-container .filters-content .filter {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.5em 1.5em;
  border: 1px solid #ffc3ee;
  font-size: 80%;
  border-radius: 50px;
  text-transform: lowercase;
  height: -moz-fit-content;
  height: fit-content;
}
.filters-container .filters-content .filter.active, .filters-container .filters-content .filter:hover {
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  background-color: #ffc3ee;
  border-color: #ffc3ee;
}
.filters-container .filters-content .reset {
  padding: 0.5em 1.5em;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 80%;
  border-radius: 50px;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  text-transform: lowercase !important;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #f3f3e7;
}
.filters-container .filters-content .reset:hover {
  background-color: #f3f3e7;
  border: 1px solid #f3f3e7;
}

body {
  margin: 0;
  background-color: #fefdf4;
  color: #4d4d28;
}
body * {
  transition: 0.2s ease-in;
}/*# sourceMappingURL=globals.css.map */